h1,h2,h3,h4,h5,h6 {
    color: #f0f0f0
}

.site-name {
    color: #F00048 !important
}

.go-to-top {
    color: #fff !important
}

:root
    --accentColor #F00048 !important

.theme-default-content:not(.custom) > h1:first-child + p {
    margin-top: 0
}
.theme-default-content:not(.custom) > h2:first-child {
    margin-top: 0
}